/* Write your CSS here */

.events-card {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
}
.events-heading-items-card {
  background-color: #3a4b63;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}
.events-heading-items-card-heading-text {
  color: #ffffff;
  font-size: 40px;
  align-self: flex-start;
}
.events-items-card {
  margin-left: -44px;
  background-color: transparent;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  flex-wrap: wrap;
  padding-right: 50px;
}
